<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.palliativecareapp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Palliativecareapp">
        <activity
            android:name=".screens.operations.VideoTopic"
            android:exported="true" />
        <activity
            android:name=".screens.Profile"
            android:exported="true" />
        <activity
            android:name=".screens.operations.UpdateTopic"
            android:exported="true" />
        <activity
            android:name=".screens.operations.ReadTopic"
            android:exported="true" />
        <activity
            android:name=".screens.operations.AddTopic"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6411473233287336~9155232802" />

        <activity
            android:name=".screens.chat.ChatActivity"
            android:exported="true" />
        <activity
            android:name=".screens.chat.DisplayGroupsActivity"
            android:exported="true" />
        <activity
            android:name=".screens.chat.DisplayUsersActivity"
            android:exported="true" />
        <activity
            android:name=".screens.chat.GroupChatActivity"
            android:exported="true" />
        <activity
            android:name=".DoctorHome"
            android:exported="true" />
        <activity
            android:name=".PatientHome"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true" />
        <activity
            android:name=".SignupPart3"
            android:exported="true" />
        <activity
            android:name=".SignupPart2"
            android:exported="true" />
        <activity
            android:name=".SignupPart1"
            android:exported="true" />
        <activity
            android:name=".SignupType"
            android:exported="true" />
        <activity
            android:name=".Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>